@import 'styles/common';

.btn {
  all: unset;
  padding: 0.25rem 1rem;
  border-radius: 8px;
  font-size: 0.95rem;
  color: $primaryBlue;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    opacity: 0.5;
  }
}
