@import 'styles/common';

.container {
  @extend .flexCenterCol;
  width: 100%;
  padding: 8rem;
  gap: 3rem;
  background: $black;

  h1 {
    font-size: 56px;
    color: $white;
    line-height: 1;
    font-weight: 600;
    text-align: center;
  }
}
