@import 'styles/common';

.container {
  @extend .flexCenterCol;
  width: 100%;
  padding: 6rem;
  gap: 3rem;
  background: $black;

  h1 {
    font-size: 56px;
    color: $white;
    line-height: 1;
    font-weight: 600;
    text-align: center;
  }
}

@media (max-width: 468px) {
  .container {
    padding: 2rem;

    h1 {
      font-size: 2rem;
    }
  }
}
