@import 'styles/common';

.container {
  @extend .flexCenterCol;
  width: 100%;
}

.m2 {
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: -13px;
  width: 48px;
  height: 48px;
  background-image: url('/assets/png/m2.png');
  background-position: center;
  background-size: cover;
}

.ipadPro {
  align-self: flex-start;
  position: relative;
  margin-left: 8vw;
  top: 200px;
}
