@import 'styles/common';

.footer {
  @extend .flexCenterCol;
  width: 100%;
  background-color: $footerBg;
}

.content {
  @extend .flexCenterCol;
  width: 100%;
  max-width: 1024px;
  gap: 2rem;
  padding: 2rem;

  p {
    font-size: 0.75rem;
    font-weight: 300;
    color: $secondaryGray;
    line-height: 1.5;

    a {
      color: $primaryBlue;
    }
  }

  a {
    font-size: 0.8rem;
    font-weight: 300;
    color: $secondaryGray;

    &:hover {
      color: $primaryBlue;
      text-decoration: underline;
    }
  }
}

.descriptionWrapper {
  @extend .flexColStart;
  gap: 1rem;

  .divider {
    margin-top: 0.5rem;
  }
}

.divider {
  width: 100%;
  border-bottom: 2px solid $tBlack;
}

.linksWrapper {
  @extend .spaceBetween;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  gap: 2rem;
}

.linksContainer {
  @extend .flexColStart;
  gap: 1.5rem;
}

.linksBox {
  @extend .flexColStart;
  gap: 0.75rem;

  h5 {
    font-size: 0.75rem;
    font-weight: 400;
  }

  a {
    font-size: 0.75rem;
    font-weight: 300;
    color: $lightGray;
  }
}

.infoWrapper {
  @extend .flexColStart;
  width: 100%;
  gap: 0.5rem;
}

.bottomLine {
  @extend .spaceBetween;
  gap: 1rem;
  width: 100%;
}

.flatLinks {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;

  a {
    padding: 0.25rem 1rem 0.25rem 0;
    margin-right: 1rem;

    &:not(:last-of-type) {
      border-right: 2px solid $tBlack;
    }

    &:first-of-type {
      padding-left: 0;
    }

    &:last-of-type {
      padding-right: 0;
    }
  }
}

@media (max-width: 960px) {
  .bottomLine {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 530px) {
  .content {
    padding: 1rem;
    gap: 1rem;
  }

  .infoWrapper,
  .linksWrapper {
    flex-direction: column;
    align-items: center;

    * {
      align-items: center;
      text-align: center;
    }
  }

  .flatLinks {
    justify-content: center;

    a {
      border-right: none !important;
    }
  }
}
