@import 'styles/common';

.container {
  @extend .flexColStart;
  align-items: center;
  width: 100%;
  height: 600px;
  padding: 2rem 2rem 700px;
  color: $black;
  background-color: $white;
  background-repeat: no-repeat;
  background-position: bottom center;
  position: relative;
}

.textBox {
  @extend .flexCenterCol;
  gap: 0.75rem;

  h1 {
    font-size: 56px;
    line-height: 1;
    font-weight: 600;
    text-align: center;
    color: inherit;
  }

  h3 {
    font-size: 1.6rem;
    line-height: 1;
    font-weight: 400;
    text-align: center;
    color: inherit;
  }

  p {
    max-width: 380px;
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
    color: inherit;
  }
}

.dark {
  background-color: $black;
  color: $white;
}

.small {
  h1 {
    font-size: 40px;
    line-height: 1.1;
    font-weight: 500;
  }

  h3 {
    font-size: 21px;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: 0.016em;
  }
}

@media (max-width: 648px) {
  .container {
    height: 600px;
    padding-bottom: 4rem;

    h1 {
      font-size: 2rem;
    }

    h3 {
      font-size: 1.6rem;
    }
  }

  .small {
    height: 400px !important;
    padding: 1rem;
  }

  .textBox {
    gap: 0.35rem;
  }
}
