@import 'styles/common';

.container {
  @extend .flexColStart;
  align-items: center;
  width: 100%;
  padding: 2rem 2rem 700px;
  height: 600px;
  color: $black;
  background-color: $white;
  background-repeat: no-repeat;
  background-position: bottom center;
  position: relative;
}

.textBox {
  @extend .flexCenterCol;
  gap: 1rem;

  h1 {
    max-width: 470px;
    font-size: 56px;
    line-height: 1;
    font-weight: 600;
    text-align: center;
    color: inherit;
  }

  h3 {
    font-size: 1.6rem;
    line-height: 1;
    font-weight: 400;
    text-align: center;
    color: inherit;
  }

  p {
    max-width: 380px;
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
    color: inherit;
  }
}

.dark {
  background-color: $black;
  color: $white;
}

@media (max-width: 468px) {
  .container {
    h1 {
      font-size: 2rem;
    }

    h3 {
      font-size: 1.6rem;
    }
  }
}
